@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

:root {
  --color-primary: #007ea7ff; /* Cerulean */
  --color-secondary: #00a8e8ff; /* Picton Blue */
  --color-black: #00171fff; /* Rich Black */
  --color-dark-blue: #003459ff; /* Prussian Blue */
  --color-white: #fff; /* White */
  --color-gray: #ccc; /* Gray */
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  text-decoration: none;
  user-select: none;
}

html, body {
  background-color: var(--color-white);
  color: var(--color-black);
  min-height: 100vh;
  overscroll-behavior: none;
}
  
header {
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--color-white);
  padding: 1rem;
  padding-inline: 5rem;
  color: var(--color-primary);
  border-bottom: 1px solid #ccc;
  z-index: 2000;
}

header .logo {
  font-size: 2rem;
  font-weight: 900;
}

header nav {
  display: flex;
  justify-content: space-between;
}

header nav ul {
  list-style: none;
  display: flex;
  gap: 3rem;
}

header nav ul li a {
  position: relative;
  color: var(--color-dark-blue);
  text-decoration: none;
  font-weight: 600;
  transition: 0.3s;
}

header nav ul li a::after {
  position: absolute;
  bottom: -2px;
  content: "";
  display: block;
  width: 0;
  height: 2px;
  border-radius: 10px;
  background-color: var(--color-dark-blue);
  transition: 0.3s;
}

header nav ul li a:hover::after {
  width: 100%;
}

header #nav-toggle {
  display: none;
  position: relative;
  cursor: pointer;
  width: 2rem;
  height: 2rem;
  transition: 0.3s;
}

header #nav-toggle i {
  color: var(--color-dark-blue);
  position: absolute;
  font-size: 1.5rem;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#open {
  opacity: 1;
  transition: 0.3s;
}

#close {
  opacity: 0;
  transition: 0.3s;
}

#nav-toggle.show {
  transform: rotate(180deg);
}

#nav-toggle.show #open {
  opacity: 0;
}

#nav-toggle.show #close {
  opacity: 1;
}

section {
  padding: 2rem 5rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}

section.hero {
  gap: 2rem;
  min-height: 90vh;
}

section .container {
  max-width: 800px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  width: 100%;
}

section.hero img {
  width: 20%;
  height: auto;
}

.hero h1 {
  font-size: 3rem;
  font-weight: 900;
  margin-bottom: 1rem;
}

.hero p {
  color: var(--color-dark-blue);
  font-size: 1rem;
  line-height: 1.8;
  margin-bottom: 2rem;
}

.hero a {
  display: flex;
  align-items: center;
  font-weight: 600;
  color: var(--color-white);
  background-color: var(--color-primary);
  padding: 0.9rem 2rem;
  text-decoration: none;
  border-radius: 5px;
  gap: 0.6rem;
  transition: 0.3s;
}

.hero a:hover {
  background-color: var(--color-secondary);
}

section .section-title {
  width: 100%;
}

section h2 {
  position: relative;
  font-size: 2rem;
  font-weight: 900;
  margin-bottom: 2.5rem;
  text-align: center;
  align-self: center;
}

section h2::after {
  position: absolute;
  content: "";
  top: 110%;
  left: 50%;
  transform: translateX(-50%);
  height: 7px;
  width: 75%;
  background-color: var(--color-primary);
}

.gift-form form {
  width: 100%;
  max-width: 800px;
  background-color: var(--color-white);
  padding: 20px;
  border-radius: 8px;
  margin: 20px auto;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  accent-color: var(--color-primary);
}

.form-group {
  margin-bottom: 15px;
}

label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

input,
select,
textarea {
  width: 100%;
  padding: 10px;
  border: 2px solid #ccc;
  border-radius: 4px;
  resize: none;
  outline: none;
  transition: 0.3s;
}

input:focus,
select:focus,
textarea:focus {
  border: 2px solid var(--color-primary);
}

button {
  font-size: 1rem;
  font-weight: 600;
  background-color: var(--color-primary);
  color: var(--color-white);
  padding: 0.9rem 2rem;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: 0.3s;
}

button:hover {
  background-color: var(--color-secondary);
}

.results {
  margin: auto;
  width: 100%;
  max-width: 650px;
}

.recommendation-list {
  margin-top: 3rem;
  display: flex;
  flex-direction: column;
  gap: 1rem; /* Space between recommendations */
}

.recommendation-item {
  display: flex;
  border-radius: 8px;
  border: 1px solid #ccc;
}

.recommendation-item img {
  width: 50%;
  margin-right: 15px; /* Space between image and text */
}

.recommendation-details {
  margin: 2rem 1rem;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.recommendation-details .price {
  font-weight: 600;
}

section.how-it-works {
  padding: 4rem 5rem;
  background-color: var(--color-dark-blue);
  color: var(--color-white);
  display: flex;
  flex-direction: column;
  align-items: center;
}

section.how-it-works .steps-container {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  width: 100%;
}

.how-it-works h2 {
  font-size: 2.5rem;
  font-weight: 900;
  margin-bottom: 2.5rem;
  position: relative;
}

.how-it-works h2::after {
  content: "";
  position: absolute;
  top: 110%;
  left: 50%;
  transform: translateX(-50%);
  width: 80px;
  height: 5px;
  background-color: var(--color-primary);
}

.how-it-works .steps {
  display: flex;
  gap: 2rem;
  justify-content: space-around;
  width: 100%;
  max-width: 1200px;
}

.how-it-works .step {
  flex: 1;
  text-align: center;
  padding: 2rem;
  background-color: var(--color-white);
  border-radius: 8px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  transition: 0.3s ease-in-out;
}

.how-it-works .step:hover {
  transform: translateY(-10px);
  box-shadow: 0px 8px 12px rgba(0, 0, 0, 0.15);
}

.how-it-works .step i {
  font-size: 3rem;
  color: var(--color-primary);
  margin-bottom: 1rem;
}

.how-it-works .step h3 {
  font-size: 1.5rem;
  font-weight: 700;
  color: var(--color-dark-blue);
  margin-bottom: 1rem;
}

.how-it-works .step p {
  color: var(--color-black);
  line-height: 1.6;
}

section.faq {
  padding: 4rem 5rem;
  background-color: var(--color-white);
  color: var(--color-black);
}

.faq h2 {
  font-size: 2rem;
  font-weight: 700;
  text-align: center;
  margin-bottom: 2rem;
}

.faq-item {
  width: 100%;
  display: grid;
  grid-template-rows: auto 0fr; /* Hide answer initially */
  row-gap: 0.5rem;
  border-bottom: 1px solid #ccc;
  padding: 1.5rem 0;
  transition: grid-template-rows 0.2s ease-in-out;
}

.faq-item.active {
  grid-template-rows: auto 1fr; /* Expand answer when active */
}

.faq-question {
  font-size: 1.25rem;
  font-weight: 600;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.faq-question::after {
  content: "\f078"; /* Font Awesome down arrow */
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  transition: transform 0.3s ease;
}

.faq-item.active .faq-question::after {
  transform: rotate(180deg);
}

.faq-answer {
  overflow: hidden;
  max-height: 100%; /* Let the grid handle the height */
  padding-top: 0rem;
  font-size: 1rem;
  opacity: 0; /* Initial hidden state */
  transition: opacity 0.4s ease-in-out;
}

.faq-item.active .faq-answer {
  opacity: 1; /* Fade in on expand */
}

.footer {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  background-color: var(--color-black);
  color: var(--color-white);
  padding: 3rem;
  text-align: center;
}

.footer-nav ul {
  list-style-type: none;
  padding: 0; /* Remove default padding */
}

.footer-nav li {
  display: inline; /* Display items in a line */
  margin: 0 1rem; /* Space between items */
}

.footer-nav a {
  font-size: 0.8rem;
  color: var(--color-white); /* Link color */
  text-decoration: underline; /* Underline */
}

/* Responsive Design */

@media (max-width: 768px) {
  header {
    padding: 1rem 2rem;
  }
  header #nav-toggle {
    display: block;
  }
  
  header nav ul {
    /* display: none; */
    position: absolute;
    top: 101%;
    left: 0;
    width: 100%;
    background-color: var(--color-white);
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    opacity: 0;
    visibility: none;
    gap: 0;
    pointer-events: none;
    transition: 0.3s;
  }

  header #navbar.show {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
  }

  header nav ul li {
    width: 100%;
    margin: 0;
    padding: 1.5rem 0;
    text-align: center;
    border-bottom: 1px solid var(--color-gray);
  }

  header nav ul li a {
    width: 100%;
    height: 100%;
  }

  header nav ul li:hover {
    background-color: var(--color-gray);
  }

  header nav ul li a::after {
    display: none;
  }

  section {
    padding: 1.5rem;
  }

  section.hero {
    flex-direction: column-reverse;
    min-height: 0;
  }

  section.hero img {
    width: 40%;
    height: auto;
  }

  section.hero .container {
    align-items: center;
    text-align: center;
  }

  section.hero h1 {
    font-size: 2rem;
    margin-bottom: 1rem;
  }
} 

@media (max-width: 1024px) {
  section.how-it-works {
    padding: 4rem 2rem;
  }
  
  section.faq {
    padding: 4rem 2rem;
  }

  .footer {
    padding: 3rem 1rem;
  }

  section.how-it-works .steps {
    flex-direction: column;
  }

  section.how-it-works .step {
    max-width: 400px;
    margin: auto;
  }
}